.btn {
	padding: 10px;

	font-weight: bold;

	border-radius: 8px;

	box-sizing: border-box;

	cursor: pointer;

	transition: background 0.1s linear;

	& span {
		font-size: 1.4rem;
		line-height: 1.4rem;
	}
}
.btn-contrast {
	background: var(--accent-gradient);

	color: $white;
}
.btn-default {
	background-color: var(--color-field);

	border: 1px solid var(--color-border);

	color: var(--color-text);

	&:hover {
		background-color: var(--color-hover);
	}
}
