$navHeight: 60px;

.Logo {
	display: flex;
	justify-content: center;
	align-items: center;

	height: $navHeight;

	position: fixed;
	top: 20px;
	left: 20px;

	padding: 1rem;

	background-color: #2876f9;

	background-size: 200%;
	background-image: url("/images/reco_noise.jpg");
	background-repeat: no-repeat;

	border-radius: 20px;

	font-size: 3em;
	font-weight: bold;
	color: #fff;

	box-shadow: var(--small-shadow);

	user-select: none;

	animation: bg-animation 10s linear infinite;

	z-index: 102;
}
@keyframes bg-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.LogoutBtn {
	background-color: #990000;
	background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
	color: white;
	padding: 10px 15px;
	border-radius: 15px;

	font-size: 1.5rem;
	cursor: pointer;
}

.Header {
	height: $navHeight;

	position: fixed;
	top: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 100;

	transition: all 0.3s ease-in-out;

	&:before {
		position: absolute;
		content: "";
	}

	.AccountBtnContainer {
		position: relative;

		height: 100%;
	}

	.AccountBtn {
		display: flex;
		align-items: center;
		justify-content: space-between;

		height: 100%;

		background-color: var(--secondary);

		border-radius: 20px;
		border: 1px solid var(--color-border);

		box-shadow: var(--small-shadow);

		transition: box-shadow 0.2s ease, border-color 0.2s ease;

		overflow: hidden;

		&:hover {
			box-shadow: 0 0 1px 3px rgba(#6d17cb, 0.8);
			border-color: #6d17cb;
		}

		cursor: pointer;

		& .UserAvatar {
			height: 100%;
			width: auto;

			border-radius: 20px;
		}

		& .Placeholder {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;
			width: $navHeight;

			background: var(--accent-gradient-dark);

			border-radius: 20px;

			color: var(--white-text);

			text-shadow: $VolumeTextShadow;
			font-size: 3rem;
		}

		& .Arrow {
			display: flex;
			align-items: center;
			margin: 0 5px;

			& svg {
				font-size: 2rem;
				transition: transform 0.2s ease;
			}
			& svg[data-open="true"] {
				transform: rotate(-180deg);
			}
			& svg[data-open="false"] {
				transform: rotate(0deg);
			}
		}
	}
	& .Nav {
		display: flex;
		gap: 1rem;

		height: 100%;

		padding: 1rem;
		margin-right: 10px;

		// background-color: var(--transparent-grey) !important;
		// backdrop-filter: blur(15px);

		background-color: var(--secondary);

		border: 1px solid var(--color-border);
		border-radius: 20px;

		box-shadow: var(--small-shadow);
		box-sizing: border-box;

		& .MenuItem {
			display: flex;
			justify-content: center;
			align-items: center;

			& .MenuLink {
				font-size: 1.5rem;
				padding: 10px;
				color: $darkWhite;
				text-decoration: none;
				background: var(--accent-gradient-light);
				border-radius: 15px;

				box-shadow: var(--small-shadow);

				transition: background 0.3s ease-in-out, box-shadow 0.2s ease;

				&.ActiveLink {
					background: var(--accent-gradient);
				}

				&:hover {
					box-shadow: 0 0 1px 2px rgba(#6d17cb, 0.8);

					&.ActiveLink {
						box-shadow: none;
					}
				}
			}
		}
	}
}

.DropdownMenu {
	position: absolute;
	top: 110%;
	right: 0;

	min-width: 200px;
	max-width: 300px;

	padding: 1rem;

	transform-origin: top;

	background-color: var(--secondary);

	border-radius: 20px;
	border: 1px solid var(--color-border);

	box-shadow: var(--small-shadow);

	& .DropdownItem {
		display: flex;
		align-items: center;

		margin-left: 25px;

		font-size: 1.5rem;

		&.UserNameItem {
			margin-left: 0px;
			margin-bottom: 10px;

			padding-bottom: 5px;

			border-bottom: 1px solid var(--color-border);
			& .Icon {
				& svg {
					font-size: 3rem;
					fill: url("#blue-violet");
				}
			}
		}

		& .Icon {
			display: flex;
			align-items: center;

			margin-right: 10px;

			& svg {
				font-size: 2rem;
				fill: url("#blue-violet");
			}
		}
	}

	& .UserName {
		font-size: 1.5rem;

		text-align: center;
	}
}
