$backgroundGrey: #131417;
$foregroundGrey: #1b1e24;
$transparentGrey: #2528305d;
$blue: #2876f9;
$lightBlue: #4a8cfdbe;
$violet: #6d17cb;
$lightViolet: #a14efabe;
$darkWhite: rgba(255, 255, 255, 0.911);
