$backgroundGrey: rgb(19, 20, 23);
$foregroundGrey: rgb(27, 30, 36);
$transparentGrey: #2528305d;
$blue: #2876f9;
$lightBlue: #4a8cfdbe;
$violet: #6d17cb;
$lightViolet: #a14efabe;
$darkWhite: rgba(255, 255, 255, 0.911);
:root {
	--primary: #{$backgroundGrey};
	--secondary: #{$foregroundGrey};
	--transparent-grey: #{$transparentGrey};
	--accent-blue: #{$blue};
	--accent-violet: #{$violet};
	--light-blue: #{$lightBlue};
	--light-violet: #{$lightViolet};
	--white-text: #{$darkWhite};
	--text-color: #{$darkWhite};
	--dark-text: #222831;

	--color-primary: #{$darkPrimary};
	--color-hover: #{$darkHover};
	--color-background: #{$darkBackground};
	--color-background-rgb: 17, 17, 17;
	--color-border: #{$darkBorder};
	--color-field: #{$darkInput};
	--color-field-rgb: #{$darkInputRGB};
	--color-contrast: #{$darkContrast};
	--color-contrast-light: #{$darkContrastLight};
	--color-contrast-rgb: #{$darkContrastRGB};
	--color-text: #{$darkText};
	--dark-text: #222831;
	--text-light: #{$darkTextLight};
}
