@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}

@keyframes animatedBackground {
	from {
		background-position: 0 -100px;
	}
	/*use negative width if you want it to flow right to left else and positive for left to right*/
	to {
		background-position: -10000px -100px;
	}
}
