@media only screen and (max-width: 796px) {
	#facematch-section {
		& .face-matcher {
			& .control-panel {
				& .close-button {
					& span {
					}
					& span:nth-child(1) {
					}
					&:hover {
						& span:nth-child(1) {
						}
					}
				}
			}
			& .face-matcher-wrapper {
				& .intro-caption {
					& h2 {
					}
				}
				& .result-wrapper {
					& .result {
						width: 100%;
						& canvas {
						}
						& .result-img-container {
							& img {
							}
						}
					}
					& .wiki-wrapper {
						width: 100%;
						& .wiki {
							& .results-wrap {
								& h3 {
									font-size: 2em;
								}
							}
						}
					}
				}
				& .col {
					& #imageUpload {
					}
					& .reco {
						& a {
						}
					}
					& h1 {
					}
				}
			}
		}
		& .found-actors {
			margin-top: 50px;
			& .found-actor-wrapper {
			}
		}
		& .options {
			& .upload-type {
				& .upload-type-item {
					& .type {
					}
					& .disk {
						&:hover {
						}
					}
					& .url {
						&:focus {
						}
						&:hover {
						}
					}
				}
			}
			& .demo-img-wrapper {
				& .demo-img-container {
					& .demo-img {
						& img {
							height: 40px;
							width: 40px;
						}
						&:before {
						}
						&:hover {
							& img {
							}
							&:before {
							}
						}
					}
				}
			}
		}
	}
	.actor-info-item-body {
		flex-direction: column;
	}
}
