.ActorCard,
.ActorLoaderCard {
	width: 100%;
	height: 170px;

	display: flex;
	justify-content: space-around;

	padding: 1rem;

	background: var(--secondary);

	border-radius: 20px;
	border: 1px solid var(--color-border);

	box-shadow: var(--small-shadow);

	& .imgWrap {
		height: 100%;
		width: 100px;

		border-radius: 20px;

		box-shadow: var(--small-shadow);
	}
	& .cardRight {
		flex-grow: 1;

		& .nameWrapper {
			position: relative;
			display: inline-block;

			width: 100%;

			margin-bottom: 5px;

			& .gradientStripe {
				position: absolute;
				top: 120%;
				left: 0;
				width: 100%;
				height: 4px;
				background-image: var(--stripe-gradient);
				background-repeat: repeat-x;
				border-radius: 20px;
				transition: all 0.4s ease-in-out;
			}
		}
	}
}

.ActorCard {
	cursor: pointer;
	outline: none !important;

	&:hover {
		& .gradientStripe {
			background-position-x: 300px;
		}
	}

	& .imgWrap {
		& img {
			height: 100%;
			width: 100%;

			border-radius: 20px;

			object-fit: cover;

			user-select: none;
			pointer-events: none;
		}
	}

	& .cardRight {
		& .nameWrapper {
			& .actorName {
				font-size: 2rem;
			}
		}
		& .shortInfo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			& .text {
				font-size: 1.5rem;

				&:not(:last-child) {
					margin-bottom: 1rem;
				}

				& span {
					font-size: 1.5rem;
					font-weight: bold;
				}
			}
		}
	}
}

.ActorLoaderCard {
	& .imgWrap {
		background: linear-gradient(to right, var(--secondary-darker) 4%, #292d36 25%, var(--secondary-darker) 36%);
		background-size: 1000px 100%;

		animation: shimmer 2s infinite;
	}

	& .cardRight {
		& .nameWrapper {
			& .loaderName {
				width: 100%;
				height: 30px;

				border-radius: 8px;

				box-shadow: var(--small-shadow);
			}

			& .gradientStripe {
				background-size: 1000px 100%;
				animation: shimmer 2s infinite;
			}
		}

		& .textPreloaderWrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			& .text {
				width: 100%;
				height: 20px;

				border-radius: 8px;

				box-shadow: var(--small-shadow);

				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

.shimmerText {
	animation: shimmer 2s infinite;
	background: linear-gradient(to right, var(--secondary-darker) 4%, #292d36 25%, var(--secondary-darker) 36%);
	background-size: 1000px 100%;
}
@keyframes shimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}
